<div class="text-center container padding-30">
    <div class="card">
        <div class="card-body">
            <h1>Products</h1>
            <div class="row">
                <div class="col-md-12">
                    <table class="table table-striped" *ngIf="productsList.length > 0">
                        <thead>
                            <tr>
                                <th>Name</th>
                                <th>Price</th>
                                <th>Description</th>
                                <th>Actions</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let product of productsList">
                                <td><strong>{{ product.title }}</strong></td>
                                <td>{{ product.price | currency }}</td>
                                <td>{{ product.description }}</td>
                                <td>
                                    <a data-bs-toggle="modal" data-bs-target="#exampleModal" class="btn btn-primary" (click)="onViewProductDetails(product)">View</a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <div class="alert alert-info" *ngIf="productsList.length == 0">
                        Loading...
                    </div>
                </div>
            </div>
            <button class="btn btn-primary" (click)="showMoreProducts()">Show More...</button>
        </div>
    </div>
</div>